body, html{
  height:100%;
}

body{
  margin: 0px;
  background-image:url('http://cdn.playbuzz.com/cdn/37b9762a-43a1-4ee6-a79b-aed4e2279c14/b01e4c86-2e66-4217-8740-5907ead01fd6.jpg');
  background-size: contain;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .addRainbowDancer, .addSizeDancer{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid;
  border-radius:10px;
  position:absolute;
  color: red;
}

.dancer.blinky{
  border: 80px solid;
  border-radius: 65px;
  color: orange;
}

.dancer.rainbow{
  border:15px solid;
  border-radius: 15px;
  color: white;
}


.dancer.sizeDancer{
  border: 50px solid;
  color: blue;

}
