body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image:url('http://cdn.playbuzz.com/cdn/37b9762a-43a1-4ee6-a79b-aed4e2279c14/b01e4c86-2e66-4217-8740-5907ead01fd6.jpg');
  background-size: contain;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: white;
}
.title, .addDancerButton, .addRainbowDancer, .addSizeDancer, .lineUpButton, .goNutsButton,
.dogpileButton, .clearDancersButton{
  padding:5px 12px;
  float:right;
  font-family: 'Droid Serif', serif;
}
.topbar{
  height:32px;
  background-color: rgba(5, 5, 5, 0.3);
}
.title{
  background-color: #839;
  padding:5px 12px;
  float:left;
  padding-left: 25px;
  padding-right: 25px;
  font-family: 'Open Sans', sans-serif;
}
.dancer{
  border:10px solid;
  border-radius:10px;
  position:absolute;
  color: red;
}

.dancer.blinky{
  border: 80px solid;
  border-radius: 65px;
  color: orange;
}

.dancer.rainbow{
  border:15px solid;
  border-radius: 15px;
  color: white;
}

.dancer.sizeDancer{
  border: 50px solid;
  color: blue;

}
