body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .addRainbowDancer, .addSizeDancer{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid;
  border-radius:10px;
  position:absolute;
  color: red;
}

.dancer.blinky{
  border: 12px solid;
  border-radius: 5px solid;
  color: orange;
}

.dancer.rainbow{
  border:15px solid;
  border-radius: 15px;
  color: white;
}


.dancer.sizeDancer{
  border: 50px solid;
  color: blue;

}
